In [1]:
def add(a, b):
    return a + b

In [2]:
add(10, 20)

30

In [4]:
def sub(a,b):
    pass

In [6]:
def calc(a, b):
    return a + b, a - b, a * b, a / b  # 반환값 4개가 아니라! 튜플 1개

In [8]:
result = calc(10, 5)
print(result)
type(result)

(15, 5, 50, 2.0)

tuple

In [9]:
r1, r2, r3, r4 = calc(10, 5)
print(r1, r2, r3, r4)

15 5 50 2.0

In [18]:
def sum(num, *params):
    print("num:", num, "params:", params)
    total = 0
    for i in params:
        total += i
        
    return total

In [19]:
sum(10, 20, 30, 40, 50)

num: 10 params: (20, 30, 40, 50)

140

In [21]:
def add(a, b):
    return a + b

In [22]:
add(10, 20)  # a = 10, b = 20

30

In [23]:
add(b = 20, a = 10)

30

In [24]:
def words(**params):
    print(params)

In [25]:
words(name="이이름", age=40, address="주소")

{'name': '이이름', 'age': 40, 'address': '주소'}

In [26]:
def get_number(num):
    if num % 10 == 0:
        print("종료!")
        return  # 함수의 종료, 이 후 코드는 실행 X

    print(num)

In [28]:
get_number(11)

11

In [29]:
def sum(a, b, c = 100):  # 기본값은 항상 마지막 매개변수 부터 차례대로 설정!
    return a + b + c

In [32]:
sum(10, 20)

130

In [33]:
def sum2(a, b = 100, c):
    return a + b + c

SyntaxError: parameter without a default follows parameter with a default (339554181.py, line 1)

In [36]:
name = "이이름"

def message(msg):
    global name  # 전역변수 name을 message 함수 지역내에서 사용하겠다!
    
    print(f"{name}님 {msg}")

In [35]:
message("안녕하세요")

이이름님 안녕하세요

In [38]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(num): # 짝수 판별 함수 - 사용자 정의 함수, 일회용으로 사용하는 경우가 많다!ㄷ
    return num % 2 == 0

even = filter(is_even, nums)
even_nums = list(even)
print(even_nums)

[2, 4, 6, 8, 10]

In [39]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
is_even = lambda x : x % 2 == 0
even = list(filter(is_even, nums))
print(even)

[2, 4, 6, 8, 10]

In [40]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[2, 4, 6, 8, 10]